.itemInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 0px 50px 0px;
  height: 60vh;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
